@model FileBox.Web.ViewModels.UserInfoMapModel

@{
    ViewBag.Title = "Info";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Login</h2>
@if (ViewBag.IsAdmin == true)
{
    @Html.ActionLink("Go to admin page", "Index", new { area = "Admin", controller="Home" })
}
