@if (Model != null)
{
    if (ViewBag.CurrentUserExists == true)
    {
        <li>@Html.ActionLink((string)Model.Login, "Info", "User", new { email = Model.Email }, null)</li>
    }
    <li>@Html.ActionLink("Log out", "Logout", "Login")</li>
}
else
{
    <li>@Html.ActionLink("Sign in", "Index", "Login")</li>
    <li>@Html.ActionLink("Register", "Register", "User")</li>
}
