@if (Model != null)
{
    if (ViewBag.CurrentUser != null)
    {
        using (Html.BeginForm("Search", "File", FormMethod.Post))
        {
            <div class="input-group">
                @Html.TextBox("findFiles", null, new { @class = "form-control", @placeholder = "Search for..." })
                <span class="input-group-btn">
                    <button class="btn btn-primary glyphicon glyphicon-search" type="submit"></button>
                </span>
            </div>
        }
    }
}
