@if (Model != null)
{
    if (ViewBag.CurrentUser != null)
    {
        <li>@Html.ActionLink((string)Model.Login, "Info", "User", new { email = Model.Email }, null)</li>
    }
    <li>@Html.ActionLink("Выход", "Logout", "Login")</li>
}
else
{
    <li>@Html.ActionLink("Вход", "Index", "Login")</li>
    <li>@Html.ActionLink("Регистрация", "Register", "User")</li>
}
